/* body{
    background-color: rgb(179, 199, 5);
}
section{
    margin: 10px;
}
main section{
    padding: 10px;
}
img{
    padding: 10px;
    object-fit:fill ;
} */

main section{
    padding: 10px;
    background-color:rgb(202, 63, 87); 
    text-align: center;
  }
section {
    /* min-height: 100vh; */
    margin: 10px;
}
img {
  padding: 10px;
  object-fit:fill ;
}